@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.App{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding:0;
  box-sizing: border-box;
 background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  height: auto;
  width: 100%;

}
*{
  color: white;
  
}
.responsive-menu{
  display: flex;
  flex-direction: column;
  display: none;

}

img {
  max-width: 100%;
  height: auto;
}


header{
  margin:-102px 224px;
}
nav{
  margin-left: 114px;
}
.menu-icon{
display: none;
}


.active{
  color: black;
  font-weight: 700;
  border-bottom: 2px solid blue;
}
.slider{
  display:flex;
  justify-content: space-around;
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}
.slider-content{
  margin: 119px 101px;
}
.slider-content h1{
  font-size: 59px;
  margin-top: -25px;
  color: #185e85;
}
.slider-content h6{
  font-size: 14px;
}
.slider-img img{
  margin-top:80px;
  max-width: 100%;
  width:400px;
}
.btn{
 
 margin-top: 0px;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 3px;
  background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);


}
.btn a{
  text-decoration: none;
  color: white;
}
.anchor{
  text-decoration: none;
}
.container{
  color: white;
  height: auto;
  width: 100%;
}
/* slider style end */
#about{
  display:flex;
  justify-content: space-around;
  margin: 41px 75px;
}
.about-content
{
  margin: -24px 48px;
}
.about-content p{
  display: inline-block;
  width: 500px;
  margin-top: 21px;
  font-size: 16px;
  color: #b9b4b4;
  font-weight: 300;

}
.about-content h1{
 font-size: 34px;
 margin-top: -24px;
}
.about-content h6{
  font-size: 15px;
  font-weight: 600;
}
.about-image img{
  width:1275px;
 
}

/* about style end */

/* services style start */
.services{
  height: auto;
}
.sub{
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
 
  grid-gap: 30px; 
  
  padding: 10px; 
  margin: 44px 172px;
  
}
.sub-head{
  display: inline-block;
  margin: 57px 20px;
  /* width: 584px; */

}
.sub-content h6{
  font-size: 20px;
  margin: 19px 0px;
  font-weight: 700;
}
.sub1{
    padding: 48px 17px 5px 21px;
    text-align: left;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
}
/* services style end */
.feature{
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
  height: 116px;
  color: white;
  padding-top: 42px;
  padding-bottom: 0px
}
.fea-image{
  position: relative;
  top: -54px;
  left: -72px; 
  font-size: 40px;
    margin-top: -48px;
    margin-left: 24px;

  
}
.fea-image h1{
  margin-left: -42px;
  margin-top: 51px;
  
}
/* feature section end */
.test-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-content:space-around;
  margin: 30px 53px;
  box-sizing: border-box;
}

.test-head{
  display: inline-block;
  text-align: center;
  margin: 48px 335px;
}
.testimonail{

  background-color: rgb(242, 242, 233);
  margin-top: -40px;
  height: auto;

}
.test-item{
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  height:auto;

}
.test-footer{
  display: flex;
  justify-content: space-between;
}
/* testimonial section end */
.portfolio-grid{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  
  margin: 55px 137px;
}
.portfolio-img img{
  width:300px ;
}
/* .date{
  display:flex;
  justify-content: space-between;
} */

/* footer style */

footer{
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);

  color: white;
  padding: 2px;
  margin-top: 100px;
  /* background-image: url(images/footer-bg.jpg); */
  background-size: cover;
}
.footer-content{
  display: flex;
  justify-content: space-around;
}
input[type="text"]{
  width:300px;
  background-color: #424242;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 5px;
 padding: 14px;

}
textarea{
  font-family: "Josefin Sans", sans-serif;
  width: 300px;
  background-color: #424242;
  border-radius: 5px;
  border: none;
  padding: 18px;
  margin-left: 102px;
  margin-top: -24px;}

label[for="message"] {
  display: block;
  margin-top: 6px;
}
input[type="button"]{
  margin: 28px 78px;
  padding: 7px 24px;
  font-size: 17px;
  border-radius: 6px;
  color: #f3f3f4;
    border-radius: 3px;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);

}

  .contact{
    background: #424242;
    border-radius: 10px;
    padding-left: 26px;
    width: 278px;
    height: 134px;
    margin-top: 65px;
  }
 td{
  padding: 10px;
  color:#ffffffdb;
 }
/* footer style end */
.icon-container {
  margin-top: 0px; 
  margin-bottom: 0px; 
  padding: 0; 
  display: flex; 
  justify-content: space-between;
  width: 200px; 
  height: 45px;
  cursor: pointer;
}

.icon-container a {
  color: white; 
  width: 32px; 
  margin: 0 10px; 
  margin-bottom: 60px;
}
nav li:hover{
  color: #1e1adc;

}
.footer-btn{
  display: inline-block;
    padding: 15px 30px;
    border-radius: 3px;
    background: radial-gradient(circle at 48.7% 44.3%, rgb(30, 144, 231) 0%, rgb(56, 113, 209) 22.9%, rgb(38, 76, 140) 76.7%, rgb(31, 63, 116) 100.2%);
}


/* media query code */
@media screen and (max-width: 768px) {
  body{
      margin:0;
      padding:0;
  }
  p{
      width:50%;
  }
  .responsive-menu{
    display: block;
    margin-left: 191px;
   margin-top: -80px;
    padding-left: 77px;
    padding-bottom: 114px;

  }
  .responsive-menu li{
    margin-top: 10px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  /* slider part */
  nav{
      display: none;
  }
  .slider{
      display:flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;

  }
  .slider-content h1{
      font-size: 30px;}
      .slider-content{
        margin: 289px 18px;
      }
      
      
      .slider-content p{
          width: 100%;

      }
      .slider-img img{
        width: 50%;
        margin-top: -215px !important;
        margin-left: 53px;
      }
     #about{
      display:flex;
      flex-direction: column;
      width: 100%;
  margin-left: 3px;
      
     }
     .about-content p{
      width:100%;
     }
     .services {
      margin-top: 19px;
      height: auto;}
      .btn{
          display: block; /* Allows the button to be a block-level element */
          width:100px;
      }
      .sub {
          grid-template-columns: 1fr; 
          grid-template-rows: auto; /* Adjust grid rows to fit content */
          margin: 10px auto; /* Further reduce margin for mobile screens */
          grid-gap: 15px;
      }
      .feature{
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          height: 670px;
         
        
      }
      .test-head{
          margin: 0 auto;
          text-align: center;
      }
      .test-head p{
          margin: 0 auto;
          text-align: center;
      }
      .test-grid{
         
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          margin:10px auto;
         
          justify-content: center;
          box-sizing: border-box;
      }
      .services .btn{
          position: relative;
          margin-left: -825px;
          top: 213px;
          border-radius: 25px;
      }
     
      .portfolio-grid{
          grid-template-columns: 1fr;
          justify-content: center;
          margin: 12px 40px;
          /* width: 50%; */
          grid-gap: 10px;
          box-sizing: border-box;


      }
      .sub-head h1{
          display: inline-block;
          width:50%;
          margin-left: 32px !important;
      }

      .footer-content{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
      }
      .form{
          width: 50%;
      }
      input[type="text"]{
          width: 100%;
      }
      textarea{
          width: 100%;
          margin-left: 30px !important;
          margin: 10px 0px;
      }
      input[type="button"]{
          margin-left: 6px;
      }
      .container{
          margin-top: -179px;
      }
      .menu-icon{
        display: block;
        margin-left: 325px;
        margin-top: -69PX;
        
    }
      
      .footer-btn{
        margin-left: -4px !important;
          }
      
}
